<div class="profilepic">
    <img src="http://www.gravatar.com/avatar/{{ site.email_md5 }}?s=160" alt="Profile Picture" />
</div>

<div class="title">{{ site.title }}</div>

<p class="subtitle">Hi, I'm a Computer Science student studying at University of Toronto. I am also a Mozilla contributor for Firefox Devtools and Eclipse Orion Committer.</p>

<div class="navi">
    <ul>
        <li><a class="twitter" href="http://twitter.com/GabrielLuong" title="Twitter">Twitter</a></li>
        <li><a class="github" href="https://github.com/gabrielluong" title="GitHub">GitHub</a></li>
        <li><a class="linkedin" href="http://www.linkedin.com/in/gabrielluong">LinkedIn</a></li>
        <li><a class="px" href="https://500px.com/gabrielluong">500px</a></li>
        <li><a href="mailto:gabriel.luong@gmail.com">Email</a>
    </ul>
</div> <!-- // .navi -->

{% include custom/header.html %}
